schemas_ws/accomodationRating.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="www.model.megatravel.project.com/messages/rating/managment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.model.megatravel.project.com/messages/rating/managment" targetNamespace="www.model.megatravel.project.com/messages/rating/managment">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="www.model.megatravel.project.com/messages/rating/managment" xmlns:oce="www.model.megatravel.project.com/messages/rating" xmlns:por="www.model.megatravel.project.com/chat" xmlns:usr="www.model.megatravel.project.com/users" elementFormDefault="qualified" targetNamespace="www.model.megatravel.project.com/messages/rating/managment">
    <xs:import namespace="www.model.megatravel.project.com/messages/rating" schemaLocation="KomunikacijaBackendRating.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:import namespace="www.model.megatravel.project.com/chat" schemaLocation="PorukeKorisnika.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:import namespace="www.model.megatravel.project.com/users" schemaLocation="KorisnikSema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xs:element name="getRatingByObjectRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="objectId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getRatingByObjectResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="averageGrade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:double" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getRatingByUnitRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="unitId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getRatingByUnitResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="averageGrade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:double" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCommentsByObjectRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="objectId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCommentsByObjectResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="oce:Ocenivanje" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCommentsByUnitRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="unitId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCommentsByUnitResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="oce:Ocenivanje" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMessageRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="messageId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:restriction base="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMessageResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="message" type="por:TPoruka" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="answerMessageRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="message" type="por:TPoruka" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="answerMessageResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="message" type="por:TPoruka" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMessagesRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="usr:AgentKredencijali" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMessagesResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence maxOccurs="unbounded" minOccurs="0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="message" type="por:TPoruka" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCommentsByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getCommentsByUnitRequest" name="getCommentsByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getMessageResponse" name="getMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentsByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getCommentsByObjectRequest" name="getCommentsByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="answerMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:answerMessageResponse" name="answerMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getRatingByUnitRequest" name="getRatingByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getMessageRequest" name="getMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentsByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getCommentsByObjectResponse" name="getCommentsByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getRatingByObjectRequest" name="getRatingByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessagesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getMessagesResponse" name="getMessagesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getRatingByUnitResponse" name="getRatingByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessagesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getMessagesRequest" name="getMessagesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getRatingByObjectResponse" name="getRatingByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCommentsByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getCommentsByUnitResponse" name="getCommentsByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="answerMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:answerMessageRequest" name="answerMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccomodationRatingPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="getCommentsByUnit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getCommentsByUnitRequest" name="getCommentsByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getCommentsByUnitResponse" name="getCommentsByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getMessageRequest" name="getMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getMessageResponse" name="getMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentsByObject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getCommentsByObjectRequest" name="getCommentsByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getCommentsByObjectResponse" name="getCommentsByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="answerMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:answerMessageRequest" name="answerMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:answerMessageResponse" name="answerMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingByUnit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getRatingByUnitRequest" name="getRatingByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getRatingByUnitResponse" name="getRatingByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingByObject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getRatingByObjectRequest" name="getRatingByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getRatingByObjectResponse" name="getRatingByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getMessagesRequest" name="getMessagesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getMessagesResponse" name="getMessagesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccomodationRatingPortSoap11" type="tns:AccomodationRatingPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="getCommentsByUnit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getCommentsByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getCommentsByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentsByObject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getCommentsByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getCommentsByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="answerMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="answerMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="answerMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingByUnit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getRatingByUnitRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getRatingByUnitResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingByObject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getRatingByObjectRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getRatingByObjectResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getMessagesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getMessagesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccomodationRatingPortService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:AccomodationRatingPortSoap11" name="AccomodationRatingPortSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://localhost:8836/agent/ws/rating" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>