schemas_ws/SmestajSema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="www.model.megatravel.project.com/accomodation"
    xmlns="www.model.megatravel.project.com/accomodation"
    xmlns:acc="www.model.megatravel.project.com/accomodation"
    xmlns:res="www.model.megatravel.project.com/reservations"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1"
    xmlns:usr="www.model.megatravel.project.com/users">

    <xs:import namespace="www.model.megatravel.project.com/reservations"
        schemaLocation="Rezervacija.xsd"/>
    <xs:import namespace="www.model.megatravel.project.com/users" schemaLocation="KorisnikSema.xsd"/>
    <xs:complexType name="TLokacija">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Lokacija"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="naziv">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="geoSirina" type="TPolozaj"/>
            <xs:element name="geoDuzina" type="TPolozaj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TRejting">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Rejting"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="brojOcena">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sumaOcena">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TCenovnik">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Cenovnik"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pocetak">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.util.Date" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDate" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDate"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:date">
                        <xs:minInclusive value="1900-01-01"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kraj">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.util.Date" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDate" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDate"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:date">
                        <xs:minInclusive value="1900-01-01"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cena">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:javaType name="java.lang.Long" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseLong" printMethod="com.project.megatravel.util.MyDatatypeConverter.printLong"/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="smestaj">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseLong" printMethod="com.project.megatravel.util.MyDatatypeConverter.printLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TOtkazivanje">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Otkazivanje"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element default="false" name="dozvoljeno" type="xs:boolean"/>
            <xs:element name="brojDana">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="faktorOtkazivanja">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SmestajnaJedinica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="brojKreveta">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Integer" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseInteger" printMethod="com.project.megatravel.util.MyDatatypeConverter.printInteger"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element default="false" name="balkon" type="xs:boolean"/>
                <xs:element name="sObjekat" type="xs:long"/>
                <xs:element name="opis">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1024"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="otkazivanje" type="TOtkazivanje"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="SmestajniObjekat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lokacija" type="TLokacija"/>
                <xs:element default="NA" name="kategorija">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="BRONZE"/>
                            <xs:enumeration value="SILVER"/>
                            <xs:enumeration value="GOLD"/>
                            <xs:enumeration value="PLATINUM"/>
                            <xs:enumeration value="NA"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="agent">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
                                <jxb:javaType name="java.lang.Long" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseLong" printMethod="com.project.megatravel.util.MyDatatypeConverter.printLong"/>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="SmestajnaJedinica"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="DodatnaUsluga"/>
                <xs:element maxOccurs="unbounded" name="slike">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="putanja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="tipSmestaja"/>
                <xs:element ref="kategorijaSm"/>
                <xs:element maxOccurs="unbounded" name="cenovnici" type="TCenovnik"/>
                <xs:element name="podrazumevaniCenovnik" type="TCenovnik"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="zvezdice">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Integer" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseInteger" printMethod="com.project.megatravel.util.MyDatatypeConverter.printInteger"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="DodatnaUsluga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cena">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
                                <jxb:javaType name="java.lang.Double" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDouble" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDouble"/>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ime">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="64"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="jedinicaPlacanja">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="PO_DANU"/>
                            <xs:enumeration value="PO_OSOBI"/>
                            <xs:enumeration value="UKUPNO"/>
                            <xs:enumeration value="PO_DANU_PO_OSOBI"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="tipSmestaja">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="kategorijaSm">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zvezdice">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
                                <jxb:javaType name="java.lang.Integer" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseInteger" printMethod="com.project.megatravel.util.MyDatatypeConverter.printInteger"/>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TPolozaj">
        <xs:sequence>
            <xs:element name="stepeni">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Double" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDouble" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDouble"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="180"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strana">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="N"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="E"/>
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
