backend-main/mega-travel/data/schemas/SmestajSema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="www.model.megatravel.project.com/accomodation"
    xmlns="www.model.megatravel.project.com/accomodation"
    xmlns:acc="www.model.megatravel.project.com/accomodation"
    xmlns:res="www.model.megatravel.project.com/reservations"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1"
    xmlns:usr="www.model.megatravel.project.com/users">

    <xs:import namespace="www.model.megatravel.project.com/reservations"
        schemaLocation="Rezervacija.xsd"/>
    <xs:import namespace="www.model.megatravel.project.com/users" schemaLocation="KorisnikSema.xsd"/>
    <xs:complexType name="TSmestajniObjekat">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="TSmestajniObjekat"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tipSmestaja">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Hotel"/>
                        <xs:enumeration value="Apartman"/>
                        <xs:enumeration value="Bed&amp;Breakfast"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lokacija" type="TLokacija"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="smestajneJedinice"
                type="TSmestajnaJedinica"/>
            <xs:element name="otkazivanje" type="TOtkazivanje"/>
            <xs:element default="NA" name="kategorija">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BRONZE"/>
                        <xs:enumeration value="SILVER"/>
                        <xs:enumeration value="GOLD"/>
                        <xs:enumeration value="PLATINUM"/>
                        <xs:enumeration value="NA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rejting" type="TRejting"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="DodatnaUsluga"/>
            <xs:element name="agent" type="usr:TAgent"/>
        </xs:sequence>
        <xs:attribute name="id">
            <xs:simpleType>
                <xs:restriction base="xs:long">
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="zvezdice">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="5"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TLokacija">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Lokacija"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="naziv">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="geoSirina" type="TGeoSirina"/>
            <xs:element name="geoDuzina" type="TGeoDuzina"/>
            <xs:element name="opis">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1024"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rejting" type="TRejting"/>
        </xs:sequence>
        <xs:attribute name="id">
            <xs:simpleType>
                <xs:restriction base="xs:long">
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TSmestajnaJedinica">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="TSmestajnaJedinica"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="brojKreveta" type="xs:integer"/>
            <xs:element default="false" name="balkon" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" name="slike">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:base64Binary">
                            <xs:attribute name="putanja" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="rejting" type="TRejting"/>
            <xs:element name="sObjekat" type="TSmestajniObjekat"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="komentari" type="res:TKomentar"/>
            <xs:element maxOccurs="unbounded" name="cenovnici" type="TCenovnik"/>
            <xs:element name="podrazumevaniCenovnik" type="TCenovnik"/>
            <xs:element name="opis">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1024"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="otkazivanje" type="TOtkazivanje"/>
            <xs:element name="povecanjeVeciBrojOsoba">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id">
            <xs:simpleType>
                <xs:restriction base="xs:long">
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TRejting">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Rejting"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="brojOcena">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sumaOcena">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TGeoSirina">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="GeoSirina"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="stepeni">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="90"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strana">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SEVER"/>
                        <xs:enumeration value="JUG"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TGeoDuzina">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="GeoDuzina"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="stepeni">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="90"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="strana">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ISTOK"/>
                        <xs:enumeration value="ZAPAD"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TCenovnik">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Cenovnik"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pocetak">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.util.Date" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDate" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDate"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:date">
                        <xs:minInclusive value="1900-01-01"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kraj">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.util.Date" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDate" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDate"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:restriction base="xs:date">
                        <xs:minInclusive value="1900-01-01"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cena" type="TCena"> </xs:element>
            <xs:element name="smestaj" type="TSmestajnaJedinica"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TOtkazivanje">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Otkazivanje"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element default="false" name="dozvoljeno" type="xs:boolean"/>
            <xs:element name="brojDana" default="0">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:javaType name="java.lang.Integer" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseInteger" printMethod="com.project.megatravel.util.MyDatatypeConverter.printInteger"/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TCena">
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="Cena"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="iznos">
                <xs:annotation>
                    <xs:appinfo>
                        <jxb:javaType name="java.lang.Double" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseDouble" printMethod="com.project.megatravel.util.MyDatatypeConverter.printDouble"/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute default="Euro" name="valuta" type="xs:string"/>
    </xs:complexType>
    <xs:element name="SmestajnaJedinica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="brojKreveta">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Integer" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseInteger" printMethod="com.project.megatravel.util.MyDatatypeConverter.printInteger"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element default="false" name="balkon" type="xs:boolean"/>
                <xs:element name="rejting" type="TRejting"/>
                <xs:element name="sObjekat">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="com.project.megatravel.util.MyDatatypeConverter.parseLong" printMethod="com.project.megatravel.util.MyDatatypeConverter.printLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="komentari"
                    type="res:TKomentar"/>
                <xs:element maxOccurs="unbounded" name="cenovnici" type="TCenovnik"/>
                <xs:element name="podrazumevaniCenovnik" type="TCenovnik"/>
                <xs:element name="opis">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1024"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="otkazivanje" type="TOtkazivanje"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="SmestajniObjekat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tipSmestaja">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Hotel"/>
                            <xs:enumeration value="Apartman"/>
                            <xs:enumeration value="Bed&amp;Breakfast"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="lokacija" type="TLokacija"/>
                <xs:element default="NA" name="kategorija">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="BRONZE"/>
                            <xs:enumeration value="SILVER"/>
                            <xs:enumeration value="GOLD"/>
                            <xs:enumeration value="PLATINUM"/>
                            <xs:enumeration value="NA"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="rejting" type="TRejting"/>
                <xs:element name="agent" type="usr:TAgent"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="SmestajnaJedinica"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="DodatnaUsluga"/>
                <xs:element maxOccurs="unbounded" name="slike">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:base64Binary">
                                <xs:attribute name="putanja" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="zvezdice">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="DodatnaUsluga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ime">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="64"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="jedinicaPlacanja">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="PO_DANU"/>
                            <xs:enumeration value="PO_OSOBI"/>
                            <xs:enumeration value="UKUPNO"/>
                            <xs:enumeration value="PO_DANU_PO_OSOBI"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cena" type="TCena"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
